@import '../../assets/styles/config';

.header {
  width: 100%;
  background-color: $black;
  position: sticky;
  top: 0;
  z-index: 50;
  height: 110px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 36px 0;
  border-bottom: 1px solid #979797;
}

.header__nav {
  list-style: none;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0 34px;
  }

  ul li {
    margin: 0;
    text-decoration: none;
    color: $white;
    
    a {
      text-decoration: none;
    }

    &:hover {
      color: $orange;
    }
  }
}

.header__fullScreenOverlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000;
  top: 109px;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

  &.mod__display {
    z-index: 50;
    opacity: 0.5;
    pointer-events: all;
  }
}