$container-padding-horizontal: 20px;
$container-sm: 100%;
$container-md: 100%;
$container-lg: 1500px;
$container-xl: 1500px;
$container-2xl: 1500px;
$container-3xl: 1500px;

@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-padding-horizontal;

  // @media (min-width: 640px) {
  //   width: $container-sm;
  // }

  // @media (min-width: 768px) {
  //   width: $container-md;
  // }

  @media (min-width: 1024px) {
    max-width: $container-lg;
  }

  @media (min-width: 1280px) {
    max-width: $container-xl;
  }

  @media (min-width: 1536px) {
    max-width: $container-2xl;
  }

  @media (min-width: 1800px) {
    max-width: $container-3xl;
  }
}
