@import '../../assets/styles/config.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 13px;
  border: none;
  padding: 15px 35px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  &.mod__primary {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $light-orange;
    }
  }
  &.mod__secondary {
    background-color: $white;
    color: $black;
    border: 1px solid $black;

    &:hover {
      background-color: $black;
      color: white;
    }
  }
  &.mod__transparent {
    background-color: transparent;

    &:hover {
      color: $orange;
    }
  }
}
