@import '../../assets/styles/config.scss';

.sectionProducts {
  margin-bottom: 30px;
}

.sectionProducts__speaker {
  position: relative;
  display: flex;
  background-color: $orange;
  border-radius: 8px;
  height: 560px;
  overflow: hidden;
}

.sectionProducts__speaker--imageWrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sectionProducts__speaker--patternBg {
  position: absolute;
  width: 1000px;
  height: 1000px;
  bottom: -400px;
}

.sectionProducts__speaker--image {
  object-fit: contain;
  width: 410px;
  height: 493px;
  transform: translateY(8px);
}

.sectionProducts__speaker--text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  color: $white;
  z-index: 10;

  h1 {
    font-size: rem(56);
    line-height: 58px;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }

  p {
    font-size: rem(15);
    line-height: 25px;
    margin-bottom: 40px;
  }
}
